html,body{
    height: 100%;
}

body {
    background-color: aqua;
    margin: 0;
    padding: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-title {
    color: #385555;
}

.list{
    width: 90%;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
}

.list-item{
flex-basis: 280px ;
background-color: white;
border-radius: 5px;
text-align: center;
box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
background-image: url(../desafio_6/imagens_4/thumb02.jpg);
background-size: 100%;
background-repeat: no-repeat;

}

.list-item-image img{
    border-radius: 50%;
    width: 80px;
    margin-top: 150px;
}

.list-item-name{
    margin: 0px;
    font-size: 24px;
    color: #385555;
}

.list-item-action{
    background-color: #e5e5e5;
    display: flex;
    padding: 16px;
    justify-content: space-evenly;
    opacity: .5;
}


a {
    text-decoration: none;
}

.list-botoes {
    text-align: right;
}

.list-botoes li{
    display: inline-block;
}

.list-botoes a{
    background-color: #898989;
    color: black;
    padding: 10px;
    text-decoration: none;
}
.list-botoes a:hover{
    background-color: black;
    padding: 10px;
    text-decoration: none;
    color: white;
}